[Unit]
Description=Spring Boot Online BookStore Api
After=syslog.target
After=network.target[Service]
User=root
Type=simple

[Service]
ExecStart=/usr/bin/java -jar /root/Online-BookStore-Rest-Api/target/first-online-book-store-spring-boot-0.0.1-SNAPSHOT.jar
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=online_bookstore_api

[Install]
WantedBy=multi-user.target